
  .status_backImg{
    background-image: url(../Image_file/status.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home{
    position: fixed;
    top : 92%;
    left: 42%;

    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 40px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }
  .show_car{
    width : 40%;
  }
  .user_info{
    text-align: left;
    font-size: 50px;
  }
  .grid{
    display: grid;
    position : fixed;
    top : 20%;
    left : 0%;
    grid-template-rows: repeat(2, minmax(25rem, auto));
    grid-template-columns: repeat(2, 40rem);
    grid-auto-rows: 20rem;
    grid-gap: 7rem;
  }